@model L06HandsOnEntity.Models.Alien

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Alien</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="numberOfArms" class="control-label"></label>
                <input asp-for="numberOfArms" class="form-control" />
                <span asp-validation-for="numberOfArms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfHeads" class="control-label"></label>
                <input asp-for="numberOfHeads" class="form-control" />
                <span asp-validation-for="numberOfHeads" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfLegs" class="control-label"></label>
                <input asp-for="numberOfLegs" class="form-control" />
                <span asp-validation-for="numberOfLegs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanetOfOrigin" class="control-label"></label>
                <select asp-for="PlanetOfOrigin" class="form-control">
                    <option asp-for ="Jupiter">Jupiter</option>
                    <option asp-for="Pluto">Pluto</option>
                    <option asp-for="Uranus">Uranus</option>
                    <option asp-for="Mars">Mars</option>
                </select>
                <span asp-validation-for="PlanetOfOrigin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
