@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   Hello World!  This is a sample mvc app made with c# and asp.net.  This is not following the assingments instructions, it says this assignment isnt graded so I am just turning in what I played around with in this module 
</div>
